<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Author>
        <Name>Nathan Brewer</Name>
        <Email>brewer.nathant@gmail.com</Email>
        <Date>Feb-Apr2016</Date>
    </Author>

    <Description>
        SHE DSSD Processing
        After Changing the Dssd for a new one.
    </Description>
    
    <Global>
        <Revision version="D"/>
        <EventWidth unit="s" value="2e-6"/>
        <EnergyContraction value="1.0"/>
        <Path>config/</Path>
        <NumOfTraces value="500"/>
    </Global>

    <DetectorDriver>
        <Processor name="BeamLogicProcessor" /> 
        <Processor name="Dssd4SHEProcessor" 
            front_back_correlation_time="2e-7"
	    dssd_si_correlation_time="2e-7"
            delta_energy="0.20"  
	    recoil_energy_cut="800"
            low_energy_cut="3000"
            high_energy_cut="15000"   
            fission_energy_cut="25000"
            XToffset1="10"
            YToffset1="8"
            YToffset2="-2"
            TempCheck="-1"
        />
           
        <Analyzer name="DoubleTraceAnalyzer"
            gain_match="8.66"
            fast_rise="1"
            fast_gap=".1"
            fast_threshold="3"
            energy_rise="3"
            energy_gap="12"
            slow_rise="2"
            slow_gap="2"
	    slow_threshold="3"/>
        <Analyzer name="FittingAnalyzer"/>
        <Processor name="McpProcessor" />
    </DetectorDriver>
    
    <!-- Old settings 
    <Global>
        <Revision version="D"/>
        <EventWidth unit="s" value="1e-6"/>
        <EnergyContraction value="1.0"/>
        <Path>config/</Path>
        <NumOfTraces value="1000"/>
    </Global>

    <DetectorDriver>
        <Processor name="BeamLogicProcessor" /> 
        <Processor name="Dssd4SHEProcessor" 
            front_back_correlation_time="5e-7"
            delta_energy="0.20"
	    recoil_energy_cut="4000"
            high_energy_cut="15000" 
            low_energy_cut="4000"
            fission_energy_cut="15000"
            XToffset1="10"
            YToffset1="8"
            YToffset2="-2"
            TempCheck="-1"
        />
        """"""
	<Analyzer name="TraceFilterer" 
            gain_match="8.76"
            fast_rise="1"
            fast_gap="1"
            fast_threshold="1"
            energy_rise="10"
            energy_gap="100"
            slow_rise="10"
            slow_gap="50"
            slow_threshold="20"/>
	<Analyzer name="TraceExtracter"/>
       """ <Analyzer name="DoubleTraceAnalyzer"
            gain_match="10"
            fast_rise="10"
            fast_gap="10"
            fast_threshold="80"
            energy_rise="25"
            energy_gap="25"
            slow_rise="20"
            slow_gap="20"
            slow_threshold="20"/> """
        <Processor name="McpProcessor" />
    </DetectorDriver>-->

    <Map verbose_calibration="True"
         verbose_map="False"
         verbose_walk="False">

<Module number="0">
<Channel number= " 0 " location= " 48 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-47.08093913318248 17.815689173787362 </Calibration> </Channel>
<Channel number= " 1 " location= " 47 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-44.4335626710991 17.2466062875741 </Calibration> </Channel>
<Channel number= " 2 " location= " 46 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">4.615991070893731 17.516424409369787 </Calibration> </Channel>
<Channel number= " 3 " location= " 45 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-58.51253216753183 17.890733961600144 </Calibration> </Channel>
<Channel number= " 4 " location= " 44 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-93.62559587000719 17.8527811059553 </Calibration> </Channel>
<Channel number= " 5 " location= " 43 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-12.170525716761746 17.683753072919014 </Calibration> </Channel>
<Channel number= " 6 " location= " 42 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-135.74022361321587 17.96046489353436 </Calibration> </Channel>
<Channel number= " 7 " location= " 41 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">25.70477951854602 17.64066042575802 </Calibration> </Channel>
<Channel number= " 8 " location= " 40 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-129.21396831811526 17.98924988505913 </Calibration> </Channel>
<Channel number= " 9 " location= " 39 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">1.1739719776663549 18.431312775924187 </Calibration> </Channel>
<Channel number= " 10 " location= " 38 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-12.063326485831336 17.58713576722074 </Calibration> </Channel>
<Channel number= " 11 " location= " 37 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-6.927198633399993 17.582990710713705 </Calibration> </Channel>
<Channel number= " 12 " location= " 36 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-64.70354561896082 17.695833837331246 </Calibration> </Channel>
<Channel number= " 13 " location= " 35 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">48.00895228726658 17.649091961225896 </Calibration> </Channel>
<Channel number= " 14 " location= " 34 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">23.13587622625492 17.85297548168841 </Calibration> </Channel>
<Channel number= " 15 " location= " 33 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">89.42191859560634 17.507382907234827 </Calibration> </Channel>
</Module> 
<Module number="1">
<Channel number= " 0 " location= " 32 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-96.17387110608452 17.74654657464368 </Calibration> </Channel>
<Channel number= " 1 " location= " 31 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">39.88728427662952 17.800595193761477 </Calibration> </Channel>
<Channel number= " 2 " location= " 30 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-57.698025629363734 17.619745488038507 </Calibration> </Channel>
<Channel number= " 3 " location= " 29 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">41.77419380842411 17.42999610852947 </Calibration> </Channel>
<Channel number= " 4 " location= " 28 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-89.28769875551559 17.85393453169543 </Calibration> </Channel>
<Channel number= " 5 " location= " 27 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-132.07399983494298 18.10168803842222 </Calibration> </Channel>
<Channel number= " 6 " location= " 26 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-141.94616648503123 18.098910666809726 </Calibration> </Channel>
<Channel number= " 7 " location= " 25 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-75.39730273066941 18.014396009156613 </Calibration> </Channel>
<Channel number= " 8 " location= " 24 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">50.773006830715104 17.30165214405862 </Calibration> </Channel>
<Channel number= " 9 " location= " 23 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-23.270899889780196 17.696801091230423 </Calibration> </Channel>
<Channel number= " 10 " location= " 22 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-110.29582583780399 17.941051239619437 </Calibration> </Channel>
<Channel number= " 11 " location= " 21 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-129.6995102597245 18.026799354217562 </Calibration> </Channel>
<Channel number= " 12 " location= " 20 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-166.49723843928933 17.729501471931947 </Calibration> </Channel>
<Channel number= " 13 " location= " 19 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-139.82181321883763 18.251441861485127 </Calibration> </Channel>
<Channel number= " 14 " location= " 18 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-94.14476652790357 18.061354161232146 </Calibration> </Channel>
<Channel number= " 15 " location= " 17 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">74.92740392683311 17.412304812660018 </Calibration> </Channel>
</Module> 
<Module number="2">
<Channel number= " 0 " location= " 16 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-17.2115044780493 17.904649941629014 </Calibration> </Channel>
<Channel number= " 1 " location= " 15 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">21.265846897866794 18.01385445034067 </Calibration> </Channel>
<Channel number= " 2 " location= " 14 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">9.275661471006828 17.833244027895383 </Calibration> </Channel>
<Channel number= " 3 " location= " 13 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">27.583994835279178 17.938141003323228 </Calibration> </Channel>
<Channel number= " 4 " location= " 12 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-114.84122230751501 17.930201503253897 </Calibration> </Channel>
<Channel number= " 5 " location= " 11 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-85.2181124109272 18.034885120279288 </Calibration> </Channel>
<Channel number= " 6 " location= " 10 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-133.00486022079957 17.87155006078081 </Calibration> </Channel>
<Channel number= " 7 " location= " 9 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">11.685580050231383 17.60979443335111 </Calibration> </Channel>
<Channel number= " 8 " location= " 8 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-8.089268758946991 17.71733750741096 </Calibration> </Channel>
<Channel number= " 9 " location= " 7 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-40.92492510217461 17.725962712090112 </Calibration> </Channel>
<Channel number= " 10 " location= " 6 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-27.339201237799163 18.139920637852793 </Calibration> </Channel>
<Channel number= " 11 " location= " 5 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-133.05259893601414 17.72815917452938 </Calibration> </Channel>
<Channel number= " 12 " location= " 4 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-111.96328787124428 18.052505838717476 </Calibration> </Channel>
<Channel number= " 13 " location= " 3 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-38.61082445985944 17.842551163253297 </Calibration> </Channel>
<Channel number= " 14 " location= " 2 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">-21.329750203883805 17.974733223055843 </Calibration> </Channel>
<Channel number= " 15 " location= " 1 " subtype="dssd_front" type="dssd_front"> 
<Calibration max="32750" model="linear">124.48750999741924 17.970229807872112 </Calibration> </Channel>
</Module> 
<Module number="3">
<Channel number= " 0 " location= " 64 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-35.343685964 4.0370333417 </Calibration> </Channel>
<Channel number= " 1 " location= " 63 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-22.1433732247 3.9673754048 </Calibration> </Channel>
<Channel number= " 2 " location= " 62 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-25.2513417201 3.9726752105 </Calibration> </Channel>
<Channel number= " 3 " location= " 61 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-3.417388664 4.0114371117 </Calibration> </Channel>
<Channel number= " 4 " location= " 60 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-42.7838407277 3.9755964149 </Calibration> </Channel>
<Channel number= " 5 " location= " 59 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-44.3515177295 3.9589129767 </Calibration> </Channel>
<Channel number= " 6 " location= " 58 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-19.1487926463 4.0691284899 </Calibration> </Channel>
<Channel number= " 7 " location= " 57 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-20.2621891412 3.9255006917 </Calibration> </Channel>
<Channel number= " 8 " location= " 56 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-15.7843152827 3.9298272344 </Calibration> </Channel>
<Channel number= " 9 " location= " 55 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-50.9055559445 3.9916817136 </Calibration> </Channel>
<Channel number= " 10 " location= " 54 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-43.3616796903 3.9973599297 </Calibration> </Channel>
<Channel number= " 11 " location= " 53 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-40.9295726703 3.980700121 </Calibration> </Channel>
<Channel number= " 12 " location= " 52 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-31.3436410152 3.9458404878 </Calibration> </Channel>
<Channel number= " 13 " location= " 51 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-31.9802810557 4.0220798791 </Calibration> </Channel>
<Channel number= " 14 " location= " 50 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-3.4847555948 3.9948765021 </Calibration> </Channel>
<Channel number= " 15 " location= " 49 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">0.0295480717 3.99907755 </Calibration> </Channel>
</Module> 
<Module number="4">
<Channel number= " 0 " location= " 48 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-27.5877477523 4.0031347609 </Calibration> </Channel>
<Channel number= " 1 " location= " 47 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-20.5214324911 3.98461095 </Calibration> </Channel>
<Channel number= " 2 " location= " 46 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-37.7819380079 3.9816712542 </Calibration> </Channel>
<Channel number= " 3 " location= " 45 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-25.9597663475 4.0086892634 </Calibration> </Channel>
<Channel number= " 4 " location= " 44 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-9.9581221045 3.968650843 </Calibration> </Channel>
<Channel number= " 5 " location= " 43 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-38.3345681852 3.9679735428 </Calibration> </Channel>
<Channel number= " 6 " location= " 42 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-31.3784984821 3.9787787491 </Calibration> </Channel>
<Channel number= " 7 " location= " 41 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-31.686479074 3.940709074 </Calibration> </Channel>
<Channel number= " 8 " location= " 40 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-44.5149875198 3.9591891736 </Calibration> </Channel>
<Channel number= " 9 " location= " 39 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-41.8194992303 4.0531264796 </Calibration> </Channel>
<Channel number= " 10 " location= " 38 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-41.8564519174 3.9549823658 </Calibration> </Channel>
<Channel number= " 11 " location= " 37 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-44.4364847674 3.9942894397 </Calibration> </Channel>
<Channel number= " 12 " location= " 36 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-36.6002977469 4.0064713629 </Calibration> </Channel>
<Channel number= " 13 " location= " 35 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-41.7165254311 4.0036876348 </Calibration> </Channel>
<Channel number= " 14 " location= " 34 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-34.1572138755 4.0718367732 </Calibration> </Channel>
<Channel number= " 15 " location= " 33 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-47.75102032 3.9645800128 </Calibration> </Channel>
</Module> 
<Module number="5">
<Channel number= " 0 " location= " 32 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-3.9017712747 4.0397700972 </Calibration> </Channel>
<Channel number= " 1 " location= " 31 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-44.2533470723 4.0263071374 </Calibration> </Channel>
<Channel number= " 2 " location= " 30 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-22.228729563 3.9808290959 </Calibration> </Channel>
<Channel number= " 3 " location= " 29 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-22.5196045929 4.0713629723 </Calibration> </Channel>
<Channel number= " 4 " location= " 28 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-30.4127153421 4.0231938784 </Calibration> </Channel>
<Channel number= " 5 " location= " 27 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-15.5717937127 4.0312334565 </Calibration> </Channel>
<Channel number= " 6 " location= " 26 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-32.7262421313 4.075861087 </Calibration> </Channel>
<Channel number= " 7 " location= " 25 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-31.3991410882 4.0303262923 </Calibration> </Channel>
<Channel number= " 8 " location= " 24 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-11.8534167025 4.027513343 </Calibration> </Channel>
<Channel number= " 9 " location= " 23 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-43.9249621279 3.932323519 </Calibration> </Channel>
<Channel number= " 10 " location= " 22 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-28.6527675574 4.0150070282 </Calibration> </Channel>
<Channel number= " 11 " location= " 21 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-50.2062287811 4.0692354859 </Calibration> </Channel>
<Channel number= " 12 " location= " 20 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-43.7658001169 3.9822047188 </Calibration> </Channel>
<Channel number= " 13 " location= " 19 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-39.8735056784 3.9795604114 </Calibration> </Channel>
<Channel number= " 14 " location= " 18 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear"> -48.008987435073159 4.0316305376002122 </Calibration> </Channel>
<Channel number= " 15 " location= " 17 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-33.8734240648 4.1177566915 </Calibration> </Channel>
</Module> 
<Module number="6">
<Channel number= " 0 " location= " 16 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-6.6387982196 3.9815372006 </Calibration> </Channel>
<Channel number= " 1 " location= " 15 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-36.8323149052 3.9687971639 </Calibration> </Channel>
<Channel number= " 2 " location= " 14 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-41.7709933625 4.0512909953 </Calibration> </Channel>
<Channel number= " 3 " location= " 13 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">3.7782467554 4.1077993901 </Calibration> </Channel>
<Channel number= " 4 " location= " 12 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-30.4029478998 4.1112597581 </Calibration> </Channel>
<Channel number= " 5 " location= " 11 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-30.8243107192 4.0867983178 </Calibration> </Channel>
<Channel number= " 6 " location= " 10 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-12.0999337409 4.0635570412 </Calibration> </Channel>
<Channel number= " 7 " location= " 9 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-28.4992409373 4.0042875841 </Calibration> </Channel>
<Channel number= " 8 " location= " 8 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-29.0848362613 4.0990070886 </Calibration> </Channel>
<Channel number= " 9 " location= " 7 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-27.3373013517 4.0910958801 </Calibration> </Channel>
<Channel number= " 10 " location= " 6 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-15.2358210008 4.0647402132 </Calibration> </Channel>
<Channel number= " 11 " location= " 5 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-43.5559205038 4.0574510828 </Calibration> </Channel>
<Channel number= " 12 " location= " 4 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-41.7404137241 4.0060393136 </Calibration> </Channel>
<Channel number= " 13 " location= " 3 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-50.7346801735 4.0482227382 </Calibration> </Channel>
<Channel number= " 14 " location= " 2 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-45.8671045399 3.9659589197 </Calibration> </Channel>
<Channel number= " 15 " location= " 1 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-15.7445225588 4.0617239592 </Calibration> </Channel>
</Module> 
<Module number="7">
<Channel number= " 0 " location= " 128 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-42.2211497006 3.9463212373 </Calibration> </Channel>
<Channel number= " 1 " location= " 127 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-24.0757776698 4.0135969279 </Calibration> </Channel>
<Channel number= " 2 " location= " 126 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-27.0744021763 4.0121888397 </Calibration> </Channel>
<Channel number= " 3 " location= " 125 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-24.2366524568 4.0399223138 </Calibration> </Channel>
<Channel number= " 4 " location= " 124 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-33.3235664101 4.0546788574 </Calibration> </Channel>
<Channel number= " 5 " location= " 123 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-38.1005835542 4.0192206678 </Calibration> </Channel>
<Channel number= " 6 " location= " 122 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-15.2496125892 4.0643780339 </Calibration> </Channel>
<Channel number= " 7 " location= " 121 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-33.2786269909 4.0384329054 </Calibration> </Channel>
<Channel number= " 8 " location= " 120 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-56.9017446579 4.0345650013 </Calibration> </Channel>
<Channel number= " 9 " location= " 119 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-22.6370605015 4.0333472883 </Calibration> </Channel>
<Channel number= " 10 " location= " 118 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-37.9174440801 3.9618198926 </Calibration> </Channel>
<Channel number= " 11 " location= " 117 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-11.9266446908 3.9656170458 </Calibration> </Channel>
<Channel number= " 12 " location= " 116 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-36.8330259954 4.0255179564 </Calibration> </Channel>
<Channel number= " 13 " location= " 115 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-31.0827693539 4.0808471321 </Calibration> </Channel>
<Channel number= " 14 " location= " 114 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-24.9668259049 3.9714631194 </Calibration> </Channel>
<Channel number= " 15 " location= " 113 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-27.6678521703 3.9336045079 </Calibration> </Channel>
</Module> 
<Module number="8">
<Channel number= " 0 " location= " 112 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-32.2159317485 4.0519115132 </Calibration> </Channel>
<Channel number= " 1 " location= " 111 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-21.8046385861 4.0653658009 </Calibration> </Channel>
<Channel number= " 2 " location= " 110 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-39.8098262324 4.0356066018 </Calibration> </Channel>
<Channel number= " 3 " location= " 109 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-24.0812669706 4.1053342223 </Calibration> </Channel>
<Channel number= " 4 " location= " 108 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-24.1271677714 4.0881855929 </Calibration> </Channel>
<Channel number= " 5 " location= " 107 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-26.4729680663 4.0565286467 </Calibration> </Channel>
<Channel number= " 6 " location= " 106 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-22.8844675935 4.0821169708 </Calibration> </Channel>
<Channel number= " 7 " location= " 105 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-24.8138571475 4.1216437002 </Calibration> </Channel>
<Channel number= " 8 " location= " 104 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-21.2633389949 4.0405617971 </Calibration> </Channel>
<Channel number= " 9 " location= " 103 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-24.1831787974 4.0008972791 </Calibration> </Channel>
<Channel number= " 10 " location= " 102 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-11.1218896466 4.0792713025 </Calibration> </Channel>
<Channel number= " 11 " location= " 101 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-19.263981795 4.0536029253 </Calibration> </Channel>
<Channel number= " 12 " location= " 100 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-22.7111346518 4.0971496252 </Calibration> </Channel>
<Channel number= " 13 " location= " 99 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-38.0635055377 4.0224648759 </Calibration> </Channel>
<Channel number= " 14 " location= " 98 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-32.7199426509 4.0104633472 </Calibration> </Channel>
<Channel number= " 15 " location= " 97 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-51.1775211789 4.0574661142 </Calibration> </Channel>
</Module> 
<Module number="9">
<Channel number= " 0 " location= " 85 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-46.5653624146 3.9936517085 </Calibration> </Channel>
<Channel number= " 1 " location= " 95 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-6.1102362381 3.9814795818 </Calibration> </Channel>
<Channel number= " 2 " location= " 94 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-38.6610148423 3.9358300452 </Calibration> </Channel>
<Channel number= " 3 " location= " 93 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-38.8169797049 3.9525789625 </Calibration> </Channel>
<Channel number= " 4 " location= " 92 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-5.6696118371 3.971599222 </Calibration> </Channel>
<Channel number= " 5 " location= " 91 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-28.5589862496 4.0284269315 </Calibration> </Channel>
<Channel number= " 6 " location= " 90 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-18.4177031291 4.0606345864 </Calibration> </Channel>
<Channel number= " 7 " location= " 89 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-24.2989246315 3.9765941514 </Calibration> </Channel>
<Channel number= " 8 " location= " 88 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-28.6019496439 3.9660086403 </Calibration> </Channel>
<Channel number= " 9 " location= " 87 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-19.1357374546 4.0317142146 </Calibration> </Channel>
<Channel number= " 10 " location= " 86 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-1.0963372041 3.9915871267 </Calibration> </Channel>
<Channel number= " 11 " location= " 96 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-12.3325571051 4.0231291849 </Calibration> </Channel>
<Channel number= " 12 " location= " 84 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-41.5517442416 3.9403253897 </Calibration> </Channel>
<Channel number= " 13 " location= " 83 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-26.092988026 3.9776188577 </Calibration> </Channel>
<Channel number= " 14 " location= " 82 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-47.5110177633 4.027902711 </Calibration> </Channel>
<Channel number= " 15 " location= " 81 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-37.5449072982 4.05539204 </Calibration> </Channel>
</Module> 
<Module number="10">
<Channel number= " 0 " location= " 80 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-38.1244447347 4.0242860612 </Calibration> </Channel>
<Channel number= " 1 " location= " 79 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-36.25535979 4.0415504896 </Calibration> </Channel>
<Channel number= " 2 " location= " 78 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-36.3287878364 4.0115185975 </Calibration> </Channel>
<Channel number= " 3 " location= " 77 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-56.2272495126 3.9723726183 </Calibration> </Channel>
<Channel number= " 4 " location= " 76 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-36.8243088076 3.9553536444 </Calibration> </Channel>
<Channel number= " 5 " location= " 75 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-43.3215244037 3.9871016194 </Calibration> </Channel>
<Channel number= " 6 " location= " 74 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-40.408725661 4.0217663889 </Calibration> </Channel>
<Channel number= " 7 " location= " 73 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-32.6535841846 4.0099579897 </Calibration> </Channel>
<Channel number= " 8 " location= " 72 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-41.8445453245 3.9826562985 </Calibration> </Channel>
<Channel number= " 9 " location= " 71 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-21.4394334362 4.0012294083 </Calibration> </Channel>
<Channel number= " 10 " location= " 70 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-10.7942807918 4.0114968966 </Calibration> </Channel>
<Channel number= " 11 " location= " 69 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-39.6103462143 4.0329996139 </Calibration> </Channel>
<Channel number= " 12 " location= " 68 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-25.6236582789 3.9812996272 </Calibration> </Channel>
<Channel number= " 13 " location= " 67 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-43.3164224144 4.019709273 </Calibration> </Channel>
<Channel number= " 14 " location= " 66 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-35.1905802353 4.0435490696 </Calibration> </Channel>
<Channel number= " 15 " location= " 65 " subtype="dssd_back" type="dssd_back"> 
<Calibration max="32750" model="linear">-38.9545824511 4.015110081 </Calibration> </Channel>
</Module> 

<Module number="11">
<Channel number= " 1 " location= " 0 " subtype="veto" type="si"> 
<Calibration max="32750" model="linear">0 1 </Calibration> </Channel>
<Channel number= " 2 " location= " 1 " subtype="si" type="si"> 
<Calibration max="32750" model="linear">-0.93 4.64701 </Calibration> </Channel>
<Channel number= " 3 " location= " 2 " subtype="si" type="si"> 
<Calibration max="32750" model="linear">8.79 4.43100 </Calibration> </Channel>
<Channel number= " 4 " location= " 3 " subtype="si" type="si"> 
<Calibration max="32750" model="linear">-1.14 4.64775 </Calibration> </Channel>
<Channel number= " 5 " location= " 4 " subtype="si" type="si"> 
<Calibration max="32750" model="linear">6.76 4.47859 </Calibration> </Channel>
<Channel number= " 6 " location= " 5 " subtype="si" type="si"> 
<Calibration max="32750" model="linear">-8.51 4.51438 </Calibration> </Channel>
<Channel number= " 7 " location= " 6 " subtype="si" type="si"> 
<Calibration max="32750" model="linear">3.97 4.64876 </Calibration> </Channel>
</Module> 

    <Module number="12">
        <Channel number="0" subtype="mcp" type="mcp">
            <Calibration max="32750" model="linear">0.0 1.0</Calibration>
        </Channel>
        <Channel number="1" subtype="mcp" type="mcp">
            <Calibration max="32750" model="linear">0.0 1.0</Calibration>
        </Channel>
        <Channel number="2" subtype="beam" type="logic">
            <Calibration max="32750" model="linear">0.0 1.0</Calibration>
        </Channel>
        <Channel number="3" subtype="analog" type="logic">
            <Calibration max="32750" model="linear">0.0 1.0</Calibration>
        </Channel>
        <Channel number="4" subtype="none" type="logic">
            <Calibration max="32750" model="linear">0.0 1.0</Calibration>
        </Channel>
    </Module>
  </Map>

    <TreeCorrelator name="root" verbose="False">
        <Place type="PlaceDetector" name="Beam" reset="false" init="true"/>
    </TreeCorrelator>

    <GammaGates>
    </GammaGates>

    <Notebook file="chains.tt.txt" mode="a"/>
</Configuration>

